<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/" aria-label="Plaza Aventura">
      <img src="images/logo aventura.png" class="navbar-brand-logo img-fluid" alt="Plaza Aventura" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          @if (directoryMode()) {
            <a class="nav-link" [routerLink]="['/']" [fragment]="'section_1'">Inicio</a>
          } @else {
            <a class="nav-link" [class.click-scroll]="homeMode()" [attr.href]="homeMode() ? '#section_1' : '/#section_1'">Inicio</a>
          }
        </li>

        <li class="nav-item">
          @if (directoryMode()) {
            <a class="nav-link" [routerLink]="['/']" [fragment]="'section_2'">Nosotros</a>
          } @else {
            <a class="nav-link" [class.click-scroll]="homeMode()" [attr.href]="homeMode() ? '#section_2' : '/#section_2'">Nosotros</a>
          }
        </li>

        <li class="nav-item">
          @if (directoryMode()) {
            <a class="nav-link active" routerLink="/directorio" aria-current="page">Directorio</a>
          } @else {
            <a class="nav-link" routerLink="/directorio">Directorio</a>
          }
        </li>

        <li class="nav-item">
          @if (directoryMode()) {
            <a class="nav-link" [routerLink]="['/']" [fragment]="'section_4'">Servicios</a>
          } @else {
            <a class="nav-link" [class.click-scroll]="homeMode()" [attr.href]="homeMode() ? '#section_4' : '/#section_4'">Servicios</a>
          }
        </li>

        <li class="nav-item">
          @if (directoryMode()) {
            <a class="nav-link" [routerLink]="['/']" [fragment]="'section_5'">Contacto</a>
          } @else {
            <a class="nav-link" [class.click-scroll]="homeMode()" [attr.href]="homeMode() ? '#section_5' : '/#section_5'">Contacto</a>
          }
        </li>
      </ul>

      <div class="ms-lg-3">
        <a class="btn custom-btn custom-border-btn" [routerLink]="ctaRoute()">
          {{ ctaLabel() }}
          <i class="bi-arrow-up-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</nav>