gallery {
  width: 100%;
  max-height: 80vh;
  display: block;
}

:host ::ng-deep gallery.gallery--column thumbs {
  margin-bottom: 1.5rem;
}

:host ::ng-deep gallery.gallery--column viewer {
  margin-top: 1.5rem;
}

:host ::ng-deep gallery:not(.gallery--column) thumbs {
  margin-right: 1.5rem;
}

gallery thumbs {
  max-height: 120px;
  min-height: 90px;
}

gallery thumbs ul {
  gap: 0.65rem;
  align-items: center;
}

gallery thumbs li {
  min-width: 110px;
  max-width: 140px;
}

gallery thumbs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.65rem;
}

main {
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  background-color: burlywood;
}

p {
    color: #251003;
    font-size: var(--p-font-size);
    font-weight: 600;
}

.thumbs--bottom {
      border-style: solid;
}