  <section class="reviews-section section-padding section-bg" id="section_4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">

          <h2 class="text-white">Opiniones de Clientes</h2>
        </div>

        <div class="timeline">

          <!-- Primer promocion-->

          <div class="timeline-container timeline-container-left">
            <div class="timeline-content">
              <div class="reviews-block">

                <div class="reviews-block-image-wrap d-flex align-items-center">
                  <img src="images/reviews/test1.png" class="reviews-block-image img-fluid" alt="Review" />

                  <div>
                    <h6 class="text-white mb-0">Mariana Ortiz Jiménez</h6>
                    <em class="text-white">Local Guide Nivel 7 </em>
                  </div>
                </div>

                <div class="reviews-block-info">
                  <p>Tiene muchos locales ya sea de comida o servicios, incluso hay un gimnasio y sobre todo la
                    gasolinera.
                    Todo muy bien pero siempre está atascado.</p>

                  <div class="d-flex border-top pt-3 mt-4">
                    <strong class="text-white"> <small class="ms-2">Hace 5 años</small></strong>

                    <div class="reviews-group ms-auto">
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="timeline-container timeline-container-right">
            <div class="timeline-content">
              <div class="reviews-block">
                <div class="reviews-block-image-wrap d-flex align-items-center">
                  <img src="images/reviews/test2.png" class="reviews-block-image img-fluid"
                    alt="EcoClean promo" />

                  <div>
                    <h6 class="text-white mb-0">Claudia Alvarado</h6>
                    <em class="text-white"> Cliente frecuente</em>
                  </div>
                </div>

                <div class="reviews-block-info">
                  <p>Una plaza segura, limpia y bien iluminada Muy recomendable.</p>

                  <div class="d-flex border-top pt-3 mt-4">
                    <strong class="text-white"><small class="ms-2">Hace 2 meses</small></strong>
                        <div class="reviews-group ms-auto">
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                          <i class="bi-star-fill"></i>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="timeline-container timeline-container-left">
            <div class="timeline-content">
              <div class="reviews-block">
                <div class="reviews-block-image-wrap d-flex align-items-center">
                  <img src="images/reviews/test3.png" class="reviews-block-image img-fluid"
                    alt="Prime Fitness promo" />

                  <div>
                    <h6 class="text-white mb-0">Héctor Herrera</h6>
                    <em class="text-white"> Local guide Nivel 2</em>
                  </div>
                </div>

                <div class="reviews-block-info">
                  <p>Excelente lugar,muy buena gasolinera, mu y buena atención por parte de todas las personas que colaboran en ese lugar..</p>

                  <div class="d-flex border-top pt-3 mt-4">
                    <strong class="text-white"><small class="ms-2">Hace 10 meses</small></strong>
                     <div class="reviews-group ms-auto">
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                      <i class="bi-star-fill"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>