<div class="blog">
  <div class="container ">
    <div class="row g-4">
        <div class="col-md-4 col-lg-3" >
          <div class="h-100 p-4 fact-card">
            <div class="d-flex align-items-center mb-2">
               <div class="flex-shrink-0 btn-lg-square fact-icon">
                <i [class]="this.facts[0].icon + ' text-white'"></i>
              </div>
               <i class="fa fa-arrow-right ms-n1 me-2"></i>
              <h1 class="display-4 mb-0" #a>0</h1>
            </div>
            <span class="fs-5">{{ this.facts[0].label }}</span>
          </div>
        </div>

        <div class="col-md-4 col-lg-3" >
          <div class="h-100 p-4 fact-card">
            <div class="d-flex align-items-center mb-2">
              <div class="flex-shrink-0 btn-lg-square fact-icon">
                <i [class]="this.facts[1].icon + ' text-white'"></i>
              </div>
              <i class="fa fa-arrow-right ms-n1 me-2"></i>
              <h1 class="display-4 mb-0" #b>0</h1>
            </div>
            <span class="fs-5">{{ this.facts[1].label }}</span>
          </div>
        </div>

        <div class="col-md-4 col-lg-3" >
          <div class="h-100 p-4 fact-card">
            <div class="d-flex align-items-center mb-2">
              <div class="flex-shrink-0 btn-lg-square fact-icon">
                <i [class]="this.facts[2].icon + ' text-white'"></i>
              </div>
              <i class="fa fa-arrow-right ms-n1 me-2"></i>
              <h1 class="display-4 mb-0" #c>0</h1>
            </div>
            <span class="fs-5">{{ this.facts[2].label }}</span>
          </div>
        </div>

        <div class="col-md-4 col-lg-3" >
          <div class="h-100 p-4 fact-card">
            <div class="d-flex align-items-center mb-2">
              <div class="flex-shrink-0 btn-lg-square fact-icon">
                <i [class]="this.facts[3].icon + ' text-white'"></i>
              </div>
              <i class="fa fa-arrow-right ms-n1 me-2"></i>
              <h1 class="display-4 mb-0" #d>0</h1>
            </div>
            <span class="fs-5">{{ this.facts[3].label }}</span>
          </div>
        </div>
     
    </div>
  </div>

</div>

  

